/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.sas_form__submit {
    margin-top: 1em;
}

.sas_form__submissions {
    padding: 0;
    margin: 1em 0 0 0;
}

 .sas_form__submissions li {
     list-style-type: none;
     margin-bottom: 1em;
 }

 .sas_form__submissions li h3,
 .sas_form__submissions li span {
    font-size: 2rem;
    margin: 0;
} 